<%- if user_signed_in? %>
	<%= render 'sleep_times/form' %>
	<%- if @completed_sleep_time && @completed_sleep_time.sleep_duration != nil %>
		<h2>Sleep Time: <%= @completed_sleep_time.sleep_duration %></h2>
	<%- end %>
<%- end %>
